<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
       <!-- Required meta tags -->
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
       <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 
       <title>SuperHero</title>
   </head>
   <body>
       <!-- Main Body of Page -->
  <div class ="col-12 m-1 text-center"
             th:if="${errors!=null && !errors.isEmpty()}">
           <p class="alert alert-danger" th:each="error: ${errors}"
               th:text="${error.message}">Error message!</p>
       </div>
       <div class="container">
           <div class="row m-4">
               <div class="col text-center border border-dark">
                   <h1><a href="/" class="text-dark">SuperHero Page!</a></h1>
               </div>
           </div>
           <div class="row m-4 border border-dark">
               <div class="col text-center m-3">
                   <a href="home" class="btn btn-outline-primary btn-lg">Home</a>
               </div>
               <div class="col text-center m-3">
                   <a href="superHero" class="btn btn-outline-primary btn-lg">SuperHeroes</a>
               </div>
               <div class="col text-center m-3">
                   <a href="organization" class="btn btn-outline-primary btn-lg">Organization</a>
               </div>
               <div class="col text-center m-3">
                   <a href="location" class="btn btn-outline-primary btn-lg">Location</a>
               </div>
               <div class="col text-center m-3">
                   <a href="sighting" class="btn btn-outline-primary btn-lg">Sighting</a>
               </div>
           </div> 
           <div class="row m-4 border border-dark">
               <div class="col-3 text-center m-3">
                   <span class="h3">Edit organization</span>
               </div>
               <div class="col-7 text-center m-3">
                   <form action="/editOrganization" method="POST">
 
                       <div class="form-group row">
                           <div class="col-9">
                               <input type="hidden" name="organizations.organizationId" 
                                       id="locationId" class="form-control" th:value="${vm.organizations.organizationId}"/>
                           </div>
                       </div>
 
                       <div class="form-group row">
                           <label for="organizationName" class="col-3 col-form-label">
                               organization name</label>
                           <div class="col-9">
                               <input type="text" name="organizations.organizationName" 
                                       id="organizationName" class="form-control" th:value="${vm.organizations.organizationName}"/>
                           </div>
                       </div>
                       <a href="displayOrganization.html"></a>
 
                       <div class="form-group row">
                           <label for="description" class="col-3 col-form-label">
                               description</label>
                           <div class="col-9">
                               <input type="text" name="organizations.description" 
                                       id="description" class="form-control" th:value="${vm.organizations.description}"/>
                           </div>
                       </div>
 
                       <div class="form-group row">
                           <label for="address" class="col-3 col-form-label">
                               address</label>
                           <div class="col-9">
                               <input type="text" name="organizations.address" 
                                       id="address" class="form-control" th:value="${vm.organizations.address}"/>
                           </div>
                       </div>
 
                       <div class="form-group row">
                           <label for="phoneNumber" class="col-3 col-form-label">
                               phone number</label>
                           <div class="col-9">
                               <input type="text" name="organizations.phoneNumber" 
                                       id="phoneNumber" class="form-control" th:value="${vm.organizations.phoneNumber}"/>
                           </div>
                       </div>
                       <div class="row m-4 border border-dark">
                       <div class="form-group row text-center">
                           <label for="superHero" class="col-3 col-form-label" >
                               SuperHeroes </label>
                           <div class="col-7">
                               <select multiple name="selectedSuperHeroIds">
                                   <option
                                        th:each="superHeroes : ${vm.allSuperHeroes}"
                                        th:value="${superHeroes.superHeroId}"
                                        th:text="${superHeroes.superHeroName}"
                                        th:selected="${vm.organizations.hasSuperHero(superHeroes.superHeroId)}"
                                        />
                               </select>
                                 <button type="submit" class="btn btn-primary">Edit Organization</button>
                           </div>
                       </div>
               </div>
           </div> 
          
 
 
 
<!--                       <button type="submit" class="btn btn-primary">Edit Organization</button>-->
                  
               </div>
           </div>  
 
       </div>
 
 
       <!-- End main body -->
 
       <!-- Optional JavaScript -->
       <!-- jQuery first, then Popper.js, then Bootstrap JS -->
       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   </body>
</html>